---
import Layout from '../layouts/Layout.astro';
import LandingPage from '../components/LandingPage';
---

<Layout title="Rubuz | Fullstack Developer">
	<main>
		<LandingPage client:load />
	</main>
</Layout>
