---
import Layout from '../layouts/Layout.astro';
import ProjectsPage from '../components/ProjectsPage';
---

<Layout title="Projets | Rubuz Portfolio">
	<main>
		<ProjectsPage client:load />
	</main>
</Layout>
